.wp-block-checkout-fields-for-blocks-select-block {
	select {
		max-width: 100%;
	}
	&.has-error
		.wc-blocks-components-select
		.wc-blocks-components-select__select
		option {
		color: $input-text-active;
	}

	p {
		font-size: var(--wp--preset--font-size--small, 14px);
	}
}
